<!DOCTYPE html>
<html>
<head>
  <title>My first angular application</title>

</head>

<body>

<div ng-app="myApp" ng-controller="HelloCtrl">
    {{greetings}}
</div>

<script src="../../../bower_components/angular/angular.js"></script>
<script src="../../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script>
var app = angular.module('myApp', []);
app.controller('HelloCtrl', function($scope) {
    $scope.greetings = "Hello World for Igor Yamshchykov !!";
});

    </script>



</body>
</html>
