<!--Messages Form-->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Messages:</h1>
                </div>
				          <div class="panel-body">
				  	        <ul>
						          <li ng-repeat="message in messages">{{message}}</li>
				    	      </ul>
			        	</div>
	        </div>
  <form role="form">
    <div class="form-group">
        <label for="text"></label>
        <input type="text" ng-model="text" class="form-control" placeholder="Enter some text here..."></div>
        <button ng-click="input()" class="btn btn-default">Send</button>
      </form>
    </div>
  </div>
</div>
